.fullscreen__block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #485563, #29323c);
    color: #F2F2F2;
    overflow: hidden;
    position: relative;
  }

.video__block {
    height: 100vh;
    position: relative;
    text-align: center;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }