
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #485563, #29323c);
    color: #fff;
    padding: 20px;
  }
  
  .footer__icons {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
  }
  
  .footer__icons svg {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .footer__container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer__icons {
      margin-top: 10px;
    }
  }